<nav class="navbar navbar-expand-lg navbar-light bg-dark">
 <!--  <a class="navbar-brand" id="logo" href="">LearnHunter</a> -->

 <%= link_to'LearnHunter', root_path, class: "navbar-brand", id:"logo"  %>

 

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    	<li>
        <%= link_to"About", about_path, class: "nav-link text-warning" %>
      </li>
      <li>
        <%= link_to"Articles", articles_path, class: "nav-link text-warning" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-warning" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Action
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        	<%= link_to"Create Article", new_article_path, class:"dropdown-item text-primary" %>           
          <div class="dropdown-divider"></div>
          <%= link_to"All Articles", articles_path, class:"dropdown-item text-primary" %>         
        </div>
      </li>
     
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>