<!DOCTYPE html>
<html>
  <head>
    <title>Railsnew</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render 'layouts/messages' %>
      <%= render 'layouts/navigation' %>
      <%= yield %>

    </div>
    <br><br>
    <%= render 'layouts/footer' %>
  </body>
</html>
